<div class="container">
<!--<h1>{{title}}</h1>-->
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)" >
        <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<hero-dteail [hero] ="selectedHero"></hero-dteail>
</div>
<!--<div *ngIf="selectedHero">
    <h2>{{selectedHero.name}} details!</h2>
    <div ><label><span class="badge">Id:</span></label>{{selectedHero.id}}</div>
    <div><label>Name:</label><input [(ngModel)]="selectedHero.name"></div>
</div>-->

    <!--<div *ngIf="selectedHero">
      <h2>{{selectedHero.name}} details!</h2>
      <div><label>id: </label>{{selectedHero.id}}</div>
      <div>
        <label>name: </label>
        <input [(ngModel)]="selectedHero.name" placeholder="name"/>
      </div>
    </div>-->
